\:host
  .places
    display: inline-flex
    align-items: center
    cs-place
      padding-left: 5px
      &:after
        content: var(--cnt-sep)
      &:last-child:after
        content: var(--cnt-nil)
