\:host
  display: inline-flex
  margin: 0 12px 0 0
  width: 100px
  height: 80px
  vertical-align: top
  ct-lzmg
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5px
    width: 100%
    height: 100%
    overflow: hidden
    &::ng-deep img
      position: unset
      width: unset
      max-width: 100%
      height: unset
      max-height: 100%
    .loading
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      background: lightgrey
      width: 100%
      height: 100%
    &.on
      box-shadow: 1px 1px 5px var(--c-bk-oo)
      cursor: pointer
      &::ng-deep img
        z-index: 1
