<h2> Contact </h2>
<section>
  <dt-info [data]='profile.info'></dt-info>
</section>

<h2> Summary </h2>
<section>
  <dt-stack *ngFor='let i of profile.stackList' [data]='i'></dt-stack>
</section>

<h2> Experience </h2>
<section>
  <ng-container *ngFor='let o of profile.orgList'>
    <h3> {{ o.text }} </h3>
    <dt-role *ngFor='let i of o.roleList' [data]='i'></dt-role>
  </ng-container>
</section>

<h2> Education </h2>
<section>
  <dt-edu *ngFor='let i of profile.eduList' [data]='i'></dt-edu>
</section>

<al-page *ngIf='profile.id'>
  <an-footer [id]='profile.id'></an-footer>
</al-page>
