\:host
  box-sizing: border-box
  display: inline-block
  width: 100%
  max-width: 1400px
  h2, section
    box-sizing: border-box
    margin: 10px 10% 20px
  h2
    color: var(--c-bk-b)
  h3
    margin: 10px 0
    color: var(--c-bk-bb)
  dt-role
    padding-left: 10px
  section
    display: inline-flex
    flex-flow: column
    padding-left: 20px
    width: 80%
  ul li
    line-height: 1.2
  al-page
    display: inline-block
    &:first-of-type
      padding: 40px 10% 0
    &:last-of-type
      margin-top: 50px
