\:host
  box-sizing: border-box
  display: inline-block
  padding: 5% 10%
  width: 100%
  max-width: 1400px
  color: var(--c-app)
  h2
    color: var(--c-bk-b)
  h3
    margin: 10px 0
    color: var(--c-bk-bb)
  dt-role
    padding-left: 10px
  section
    display: inline-flex
    flex-flow: column
    padding-left: 20px
    width: 100%
