<al-page *ngIf='profile.id'>
  <dt-nav (event)='nc.evt($event)' [data]='dvo'></dt-nav>
</al-page>

<h2> {{ lb.contact }} </h2>
<section>
  <dt-info [data]='profile.info'></dt-info>
</section>

<h2> {{ lb.summary }} </h2>
<section>
  <dt-stack *ngFor='let i of profile.stackList' [data]='i'
    [vo]='dvo'></dt-stack>
</section>

<h2> {{ lb.exp }} </h2>
<section>
  <ng-container *ngFor='let o of profile.orgList'>
    <h3> {{ o.text }} </h3>
    <dt-role *ngFor='let i of o.roleList' [data]='i' [vo]='dvo'></dt-role>
  </ng-container>
</section>

<h2> {{ lb.edu }} </h2>
<section>
  <dt-edu *ngFor='let i of profile.eduList' [data]='i' [vo]='dvo'></dt-edu>
</section>

<al-page *ngIf='profile.id'>
  <an-footer [id]='profile.id'></an-footer>
</al-page>
