\:host
  position: relative
  display: flex
  flex-flow: column
  margin: 0 auto
  width: 800px
  height: 457px
  .hero, .info
    box-sizing: border-box
    display: flex
    align-items: center
  .hero
    flex: 0 0 60%
    justify-content: center
    flex-flow: column
    border-bottom: var(--cover-split)
    background: var(--c-bk-b)
    color: var(--c-bg)
    font-size: 90px
    font-weight: 700
    text-align: center
    text-shadow: var(--cover-hero-shadow)
    text-transform: uppercase
    .sub
      font-size: 30px
      font-style: italic
      font-weight: 300
      text-transform: none
  .info
    flex: 0 0 40%
    background: var(--c-bg)
    padding: 20px 10vw
    color: var(--c-app-d)
  .cfg
    flex: 0 0 calc(10vw + 30px)
    display: flex
    .qrc
      flex: 1
      height: 10vw
      img
        width: 100%
    .langs
      flex: 0 0 30px
      display: flex
      flex-flow: column
    .lang
      flex: 1
      border: 1px solid black
      height: 100%
  .list
    flex: 1
    display: flex
    justify-content: space-evenly
    flex-flow: column
    height: 100%
    font-size: 18px
    .item
      display: block
    .links
      display: inline-flex
      align-items: center
    .link
      margin-right: 10px

\:host
  @media (max-width: 800px)
    width: 100%
    height: 100%
