<div class='hero' [style.border-bottom-color]='lastRoleColor'>
  <div> {{ name }} </div>
  <div class='sub'> {{ title }} </div>
</div>
<div class='info'>
  <div class='list'>
    <div class='item'>
      <span> {{ lb.contact }}: </span>
      <a [href]='mailto' target='_blank'>
        <cti key='app.mail'></cti>
      </a>
      <a *ngFor='let b of badges' [href]='b.safeUrl' target='_blank'>
        <cti [key]='b.icon'></cti>
      </a>
    </div>
    <div class='item'> <span> {{ lb.location }}: </span> {{ place.zone }} </div>
    <div class='links'>
      <a queryParamsHandling='merge' routerLinkActive='on' [queryParams]='{ hl: lb.lang }'
        [routerLink]='i.link' *ngFor='let i of links'>
        <cti [key]='i.icon'></cti>
        <an-span> {{ i.text }} </an-span>
      </a>
    </div>
  </div>
  <div class='cfg'>
    <div class='qrc'>
      <img [src]='url' alt='scan this qr-code to link'/>
    </div>
    <div class='langs'>
      <an-link *ngFor='let i of profile.config.langs'>
        <a queryParamsHandling='merge' routerLinkActive='on'
          [routerLink]='[]' [queryParams]='{ hl: i.key }'>
          <div> {{ i.text }} </div> </a>
      </an-link>
    </div>
  </div>
</div>
