\:root
  --c-app-d: #{darken(#8A9BAD, 20)}
  --c-app: #8A9BAD
  --c-app-bb: #{lighten(#8A9BAD, 30)}
  --c-bg-dd: #{darken(#E9E3E6, 40)}
  --c-bg-d: #{darken(#E9E3E6, 20)}
  --c-bg: #E9E3E6
  --c-bg-b: #{lighten(#E9E3E6, 5)}
  --c-bg-bb: #{lighten(#E9E3E6, 10)}
  --c-bd: #859393
  --c-ok: #6F6866
  --c-critic: #421E15
  --c-bk: #282828
  --c-bk-b: #{lighten(#282828, 10)}
  --c-bk-bb: #{lighten(#282828, 20)}
  --c-bk-bbb: #{lighten(#282828, 40)}
  --c-bk-o: #{transparentize(#282828, .2)}
  --c-bk-oo: #{transparentize(#282828, .4)}
  --cover-split: 16px solid #d08803
  --cover-hsplit: 4px solid #d08803
  --cover-hero-shadow: 2px 2px 2px #333
  --cnt-sep: ', '
  --cnt-nil: ''
  --cnt-blank: ' '
