\:root
  --c-app: #8A9BAD
  --c-bg: #E9E3E6
  --c-bg-d: #{darken(#E9E3E6, 20)}
  --c-bg-b: #{lighten(#E9E3E6, 5)}
  --c-bg-bb: #{lighten(#E9E3E6, 10)}
  --c-bd: #859393
  --c-ok: #6F6866
  --c-critic: #421E15
  --c-bk: #282828
  --c-bk-o: #{transparentize(#282828, .2)}
  --c-bk-oo: #{transparentize(#282828, .4)}
  --cover-split: 16px solid #d08803
  --cover-hsplit: 12px solid #d08803
  --cover-hero-shadow: 2px 2px 2px #333
