\:host
  display: flex
  // align-items: center
  padding-left: 14px
  color: var(--c-bk-b)
  line-height: 1.4
  cti
    margin: 6px 10px 0 0
    font-size: 10px
  span
    display: inline-block
  &.i span
    font-style: italic
  &.b span
    font-weight: 500
  &.u span
    text-decoration: underline
