\:host
  display: flex
  align-items: center
  color: var(--c-bk-b)
  &.i span
    font-style: italic
  &.b span
    font-weight: 500
  &.u span
    text-decoration: underline
  cti
    margin: 0 10px 0 3px
