<!-- <router-outlet></router-outlet> -->
<al-page class='nav'>
  <h1>
    <ct-lzmg [src]='profile.info.avatar'></ct-lzmg>
    {{ profile.info.name }}. {{ lb.title }} </h1>
  <div class='links'>
    <an-link *ngFor='let i of profile.config.langs'>
      <a queryParamsHandling='merge' routerLinkActive='on'
        [routerLink]='[]' [queryParams]='{ hl: i.key }'>
        <div> {{ i.text }} </div> </a>
    </an-link>
  </div>
</al-page>

<al-page class='wrap'>
  <div class='box wide'>
    <h2> {{ lb.box[0].name }} </h2>
    <label> {{ lb.box[0].desc }} </label>
    <st-places [locs]='st.locs' (event)='evt("places", $event)'></st-places>
  </div>
  <div class='box' *ngFor='let c of st.charts'>
    <h2 *ngIf='c.name'> {{ c.name }} </h2>
    <label *ngIf='c.desc'> {{ c.desc }} </label>
    <cc-chart
      [data]='c.data' [opts]='c.opts'
      (event)='cevt(c.name, $event)'></cc-chart>
  </div>
</al-page>

<an-footer></an-footer>
