<!-- <router-outlet></router-outlet> -->
<div class='nav'>
  <h1> Stats </h1>
  <a queryParamsHandling='merge' routerLinkActive='on'
    [routerLink]='[]' [queryParams]='{ hl: i.key }'
    *ngFor='let i of profile.config.langs'>
    <div> {{ i.text }} </div> </a>
</div>

<div class='wrap'>
  <div class='box wide'>
    <h2> Pleces that I've stayed, grouped by country </h2>
    <label> Click on each marker to see the stayed time for each place. </label>
    <st-places [locs]='st.locs' (event)='evt("places", $event)'></st-places>
  </div>
  <div class='box' *ngFor='let c of st.charts'>
    <h2 *ngIf='c.name'> {{ c.name }} </h2>
    <label *ngIf='c.desc'> {{ c.desc }} </label>
    <cc-chart
      [data]='c.data' [opts]='c.opts'
      (event)='cevt(c.name, $event)'></cc-chart>
  </div>
</div>

<div class='footer'></div>
