/* You can add global styles to this file, and also import other style files */
@import 'normalize.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&display=swap')

@import 'styles/vars'

html, body
  display: inline-block
  width: 100%

body
  min-width: 640px
  color: var(--c-bk)
  font-family: 'Roboto', sans-serif

a
  color: var(--c-app)
  &:active
    color: var(--c-ok)
  &:visited
    color: var(--c-bk-b)
