<div class='map'>
  <cm-maps #map vendor='Leaflet' (event)='mapEvt($event)'
    [origin]='[24.4675334,121.0967624,10.78]'></cm-maps>
</div>
<div class='list'>
  <ng-container *ngIf='zone'>
  <!--  -->
  <div class='header'>
    <h2> {{ zone.name }} </h2>
    <label> {{ lb.timeStay }} </label>
    <span> {{ zone.periodSumText }} </span>
  </div>
  <!--  -->
  <div class='wrap'>
    <div class='place' *ngFor='let p of zone.places' (click)='place(p)'>
      <ct-lzmg [src]='p.logo' class='logo'></ct-lzmg>
      <div class='wrap'>
        <h2> {{ p.text }} </h2>
        <h4> {{ p.org }} </h4>
      </div>
    </div>
  </div>
  </ng-container>
</div>
