<div class='map'>
  <div class='tmp-zone' *ngFor='let z of ps.zones' (click)='select(z)'>
    {{ z.name }} - {{ z.center.text }}
  </div>
</div>
<div class='list'>
  <div *ngIf='zone' class='tmp-zone-detail'>
    <div class='ts'>
      <h2> {{ zone.name }} </h2>
      <label> {{ lb.timeStay }} </label>
      <span> {{ zone.periodSumText }} </span>
    </div>
    <div class='places'>
    <div class='place' *ngFor='let p of zone.places' (click)='place(p)'>
      <!-- <div class='logo'>  </div> -->
      <ct-lzmg [src]='p.logo' class='logo'></ct-lzmg>
      <div class='wrap'>
        <h2> {{ p.text }} </h2>
        <h4> {{ p.org }} </h4>
      </div>
    </div>
    </div>
  </div>
</div>
