<al-page *ngIf='profile.id'>
  <cs-nav [query]='query' [config]='profile.config' (event)='navEvt($event)'></cs-nav>
</al-page>
<al-page class='wrap' *ngIf='profile.id'>
  <cs-card *ngFor='let c of list' [data]='c'></cs-card>
  <div class='empty' *ngIf='list.length === 0'> Oops... Content Unavailable </div>
  <div class='loading' *ngIf='loading'>
    <cti key='app.spin_4' class='spin'></cti>
  </div>
</al-page>

<al-page *ngIf='profile.id'>
  <an-footer [id]='profile.id'></an-footer>
</al-page>

<an-empty *ngIf='!profile.id'></an-empty>
